.container {
  width: 1000px;
  margin: 0 auto;
}

.container-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.container h2 {
  font-size: 32px;
}

@media (max-width: 960px) {
  .container {
    width: 650px;
  }
  .container-cards {
    display: block;
  }
}

@media (max-width: 540px) {
  .container {
    width: 400px;
  }
  .container-cards {
    display: block;
  }
}
